@import url(style.css);

/* BARRA DE BUSQUEDA Y BOTON DE BUSCAR */

.search_bar:focus-visible{
    border: 1px solid var(--color-brown-light);
    box-shadow: 0 0 10px 0 var(--color-brown-light)
}

.button_search{
    border: 1px solid var(--color-brown-light);
    color: var(--color-brown-light);
}

.button_search:hover{
    border: 1px solid var(--color-brown-light);
    background-color: var(--color-brown-light);
    color: #fff;
}

.card-body{
    padding: 5px 0;
}

.card-text{
    font-weight: 600;
    padding: 0;
}

/* CARD FOOTER */
/* LE COLOCA EL ESTILO A LOS PRECIOS DE LOS POSTRES */
.card > .card-body > p span{
    font-weight: bold;
    color: #513528;
    }

/* MEDIA QUERY USADO CUANDO LA PANTALLA MIDE MENOS DE 990PX */

@media (max-width: 990px){

    .container_cards{
        margin-top: 20px;
    }
    
    /* TARJETA CON IMAGEN Y PRECIO */
    
    .card{
        width: 9.5rem;
        margin-bottom: 20px;
        
    }
    
    .search_bar::placeholder{
        font-size: 12px;
    }
}


/* MEDIA QUERY USADO CUADNO LA PANTALLA MIDE MAS DE 991 PX */

@media (min-width: 991px){

    /* CONTAINER DONDE SE ENCUENTRAN LAS TARJETAS DE LOS POSTRES */

    .container_cards{
        margin-top: 30px;
    }
    
    /* TARJETA CON IMAGEN Y PRECIO */
    
    .card{
        width: 12rem;
        margin-bottom: 20px;
        cursor: pointer;
    }
}

